:root {
  --deskX: 50%;
  --deskY: 470px;
  --ballX: 250px;
  --ballY: 200px;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.frame {
  width: 700px;
  height: 500px;
  background-color: black;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  position: relative;
}

.pad {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: aqua;
  left: var(--deskX);
  top: var(--deskY);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  pointer-events: none;
}

.walls {
  width: 70%;
  margin: 0 auto;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.wall {
  width: 50px;
  height: 10px;
  background-color: blueviolet;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.walls:nth-child(8n) {
  margin-right: 0px;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  pointer-events: none;
  left: var(--ballX);
  top: var(--ballY);
}

.top_wall {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.bottom_wall {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.left_wall {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
}

.right_wall {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
}

.disable {
  opacity: 0;
}

.score {
  color: white;
  position: absolute;
  left: 20px;
  font-size: 20px;
}

.over {
  color: white;
  font-size: 55px;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  top: 200px;
  position: absolute;
  pointer-events: none;
}